@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

$font-stack: Poppins, sans-serif;
$sidebar-color: #070D59;